<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="ganttcalendar">
  <xi:include href="layout.html" />
  <head>
    <title>Ticket calendar</title>
    <script type="text/javascript" src="${chrome.htdocs_location}js/folding.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("fieldset legend.foldable").enableFolding(false);
      });
    </script>

  </head>
  <body>
    <form>
      <fieldset id="options">
        <legend class="foldable">Options</legend>
        <table class="list">
          <tr>
            <td>
            </td>
            <td>
              <label>
              Milestone
              <select name="selected_milestone">
                <option py:for="m in milestones" value="${m.name}" selected="${selected_milestone==m.name or None}">${m.name}</option>
              </select>
              </label>
              <label>
              <input type="checkbox" name="show_my_ticket" checked="${show_my_ticket or None}"
              />Show only my tickets
              </label>
              <label>
              <input type="checkbox" name="hide_closed_ticket" checked="${not show_closed_ticket or None}"
              />Exclude closed tickets
              </label>
            </td>
            <td align="right">
              <input type="submit" value="${_('Update')}" />
            </td>
          </tr>
        </table>
      </fieldset>
      <table class="list">
        <tr>
          <td py:with="btntxt = weekly and '%s %s' % (_(month_tbl[prev.month]), prev.day) or _(month_tbl[prev.month])">
            <input type="button" value="&lt;&lt; ${btntxt}" ACCESSKEY="J" onclick="form.year.value = ${prev.year}; form.month.value = ${prev.month}; form.day.value = ${prev.day}; form.submit();"/>
          </td>
          <td align="center">
            <select name="year" onchange="form.day.value = 1; form.weekly.value = 0;">
              <option py:for="y in range(current.year-3,current.year+4)"
                     value="$y"
                     selected="${y==current.year or None}">$y</option>
            </select>
            Year
            <select name="month" onchange="form.day.value = 1; form.weekly.value = 0;">
              <option py:for="m in [1,2,3,4,5,6,7,8,9,10,11,12]"
                     value="$m" selected="${m==current.month or None}">${_(month_tbl[m])}</option>
            </select>

            <input type="submit" value="${_('Update')}" />
            <label ACCESSKEY="M" onclick="form.year.value = ${date.today().year}; form.month.value = ${date.today().month}; form.day.value = ${date.today().day}; form.submit();"/>
          <py:choose>
            <input py:when="not weekly" type="image" ACCESSKEY="I" onclick="form.weekly.value = 1" src="${href.chrome('ticketcalendar/img/zoom_in.png')}" alt="${_('Zoom In')}"/>
            <input py:otherwise="" type="image" disabled="disabled" src="${href.chrome('ticketcalendar/img/zoom_in_g.png')}"/>
          </py:choose>
          <py:choose>
            <input py:when="weekly" type="image" ACCESSKEY="K" onclick="form.weekly.value = 0;" src="${href.chrome('ticketcalendar/img/zoom_out.png')}" alt="${_('Zoom Out')}"/>
            <input py:otherwise="" type="image" disabled="disabled" src="${href.chrome('ticketcalendar/img/zoom_out_g.png')}"/>
          </py:choose>
            <input name="day" type="hidden" value="${current.day}" />
            <input name="weekly" type="hidden" value="${weekly}" />
          </td>
          <td align="right" py:with="btntxt = weekly and '%s %s' % (_(month_tbl[next.month]), next.day) or _(month_tbl[next.month])">
            <input type="button" value="${btntxt} &gt;&gt;" ACCESSKEY="L" onclick="form.year.value = ${next.year}; form.month.value = ${next.month}; form.day.value = ${next.day}; form.submit();"/>
          </td>
        </tr>
      </table>
    </form>
    <table py:if="sum_estimatedhours is not None" class="list">
      <div style="font-size:11px;" i18n:msg="total, estimated">
        Total Hours: ${round(sum_totalhours, 2)}h /
        Estimated Hours: ${round(sum_estimatedhours, 2)}h
      </div>
    </table>
    <table class="list with-cells">
      <thead>
        <tr>
            <th></th>
          <py:for each="d in range(7)" py:with="mday= first+ timedelta(d);wk=mday.weekday();">
            <th style="width: 14%;">${_(weekdays[wk])}</th>
          </py:for>
        </tr>
      </thead>

      <tbody>
        <tr py:for="w in range(((last - first).days + 1)/7)" style="height: ${weekly and 300 or 60}px;">
          <th></th>
          <py:for each="d in range(7)" py:with="mday= first+ timedelta(w*7+d);holiday_desc= days[mday].get('holiday_desc');">
          <td class="${days[mday]['kind']}" style="width: 14%;" valign="top">
            <div class="textright">
                <py:if test="weekly or mday.day==1">${mday.month}/</py:if>${mday.day}
            </div>
            <py:for each="c in range(len(days[mday]['ticket']))">
            <div class="ticket" py:with="t=tickets[days[mday]['ticket'][c]['num']]">
              <a class="tip" href="${req.href.ticket()}/${t['id']}">
                <img src="${href.chrome('ticketcalendar/img/arrow_'+days[mday]['ticket'][c]['img']+'.png')}" alt="+" />
                <s py:strip="t['status']!='closed'"><span class="type">${t['type']}</span>#${t['id']}</s>:${t['summary']}
                <span class="popup">
                  <br />
                  <s py:strip="t['status']!='closed'">  ${t['type']}#${t['id']}</s>: ${t['summary']}<br />
                  <br />
                  <strong>Start date</strong>:      <span py:if="t['due_assign'] is not None">${t['due_assign'].strftime(date_format)}</span>
                    <span py:if="t['status']!='closed'">(${t['status']} ${t['complete']}%)</span><br/>
                  <strong>End date</strong>:            <span py:if="t['due_close'] is not None">${t['due_close'].strftime(date_format)}</span>
                    <span py:if="t['status']=='closed'">(${t['status']}: ${t['resolution']})</span><br/>
                  <strong>Owner</strong>:      ${format_author(t['owner'])}<br />
                  <strong>Priority</strong>:            ${t['priority']}<br/>
                <py:if test="t['estimatedhours'] is not None" i18n:msg="totallabel, total, estimatedlabel, estimated">
                  <strong>Total Hours</strong>: ${round(t['totalhours'], 2)}h /
                  <strong>Estimated Hours</strong>: ${round(t['estimatedhours'], 2)}h<br/>
                </py:if>
                  <pre> ${t['description']}</pre>
                </span>
              </a>
            </div>
            </py:for>

            <py:for each="c in range(len(days[mday]['milestone']))" py:if="'MILESTONE_VIEW' in req.perm">
              <div class="ticket" py:with="m=milestones[days[mday]['milestone'][c]]">
                  <a class="tip" href="${req.href.milestone()}/${m['name']}">
                    <s py:strip="m['completed']!=True"><img src="${href.chrome('ticketcalendar/img/package.png')}" />${m['name']}</s>
                    <span class="popup">
                      <br />
                      <img src="${href.chrome('ticketcalendar/img/package.png')}" />${m['name']}<br />
                      <br />
                      <strong>Due</strong>: ${m['due'].strftime(date_format)}<br />
                      <pre> ${m['description']}</pre>
                    </span>
                  </a>
              </div>
            </py:for>
          </td>
          </py:for>
        </tr>
      </tbody>
    </table>
  </body>
</html>
